<?xml version="1.0" encoding="utf-8"?>

<!--
Author: Afahri Kerr (AfahriAKerr91@gmail.com)
Version: 2.0
Date: 12/07/2023
The manifest allows you to control and set different features of the app.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeightTrackerApp"
        tools:targetApi="31">
        <activity
            android:name=".CreateAccountScreen"
            android:exported="false" />
        <activity
            android:name=".EditWeightScreen"
            android:exported="false" />
        <activity
            android:name=".SetGoalScreen"
            android:exported="false" />
        <activity
            android:name=".AddWeightScreen"
            android:exported="false" />
        <activity
            android:name=".WeightScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>